<h1>Profil</h1>

<form class="card-body" [formGroup]="profilForm" (ngSubmit)="submit()" novalidate>

  <!-- Name field -->
  <div class="form-group">
    <label for="name">Name</label>
    <input class="form-control"
           id="name"
           type="name"
           formControlName="name"
           placeholder="Votre pseudonyme"
           autocorrect="off"/>

    <small class="form-text text-muted" *ngIf="name.errors && name.dirty">
      <span [hidden]="!name.errors.required">Nom requis.</span>
      <span [hidden]="!name.errors.minlength">Le nom doit faire plus de 4 caractères.</span>
      <span [hidden]="!name.errors.maxlength">Le nom doit faire moins de 20 caractères</span>
      <span [hidden]="!name.errors.pattern">Le nom ne doit contenir que des lettres, des chiffres, '-' ou '_'.</span>
    </small>
  </div>
  <!-- End name field -->

  <!-- Avatar -->
  <div class="form-group">
    <label for="avatar">Avatar</label>
    <input class="form-control"
           id="avatar"
           type="avatar"
           formControlName="avatar"
           placeholder="Votre avatar"
           autocorrect="off"/>

    <small class="form-text text-muted" *ngIf="avatar.errors && avatar.dirty">
      <span [hidden]="!avatar.errors.pattern">Entrez une url valide.</span>
    </small>
  </div>
  <!-- End avatar -->

  <!-- Button submit -->
  <p class="text-center py-3">
    <button class="btn"
            type="submit" [ngClass]="{'btn-success': profilForm.valid,
                                      'btn-secondary': profilForm.invalid}">Sauvegarder</button>
  </p>
  <!-- End button submit -->

</form>
